<div class="reader_lending__content_wrapper">

    <div class="reader_lending__lending">
        
    </div>
    <div class="reader_lending__reader-info">
        <div class="reader_lending__reader-info__name" id="reader_lending__reader-info__name">
            {{reader?.name}}
        </div>
        <div class="reader_lending__reader-info__info" id="reader_lending__reader-info__info">
            <p>
                Читательский билет №{{reader?.card}}
            </p>
            <p>
                <a href="#">Изменить...</a>
            </p>
        </div>
        <div *ngIf="reader?.lendingFacts?.length; else elseBlock" class="reader_lending__reader-info__books_info">
            <table class="table caption-top" id="reader_lending__reader-info__books_info_table">
                <caption>Информация о выданных книгах</caption>
                <tr>
                    <th>Название</th>
                    <th>Выдана</th>
                    <th>Возвращена</th>
                </tr>
                <tr *ngFor="let fact of reader?.lendingFacts">
                    <td>{{fact.bookInfo}}</td>
                    <td>{{fact.takenDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{fact.returnedDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </table>
        </div>
        <ng-template #elseBlock>
            Читатель еще не брал книг.
        </ng-template>
    </div>
</div>