<div class="menu">
  <div class="menu__logo">
    <h2>Меню</h2>
  </div>
  <ul class="menu__items">
    <li class="menu__item">
      <a class="menu__link"
        routerLink
        routerLinkActive="menu__link_active">
        Главная
      </a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="/lending"
        routerLinkActive="menu__link_active">
        Книговыдача
      </a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="/acqusition"
        routerLinkActive="menu__link_active">
        Комплектование
      </a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="/reports"
        routerLinkActive="menu__link_active">
        Отчеты
      </a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#">Login/logout</a>
    </li>
  </ul>
</div>