<div class="title">
    <h1>Книговыдача</h1>
  </div>
  <div class="buttons">

    <div class="card text-center button">

        <div class="card-body">
            <h5 class="card-title">Найти читателя</h5>
            <p class="card-text">Для того, чтобы выдать книгу или отредактировать читателя, найдите его в БД и перейдите в его карточку.</p>
            <a href="find_reader.html" class="btn btn-primary">Найти читателя</a>
        </div>

    </div>
    <div class="card text-center button">

        <div class="card-body">
          <h5 class="card-title">Вернуть книги</h5>
          <p class="card-text">Воспользуйтесь этой ссылкой для возврата книг от читателей.</p>
          <a href="#" class="btn btn-primary">Вернуть книги</a>
        </div>

      </div>
  </div>