<div class="wrapper">
  <div class="title">
    <h1>Поиск читателя</h1>
  </div>
  <div class="find-reader">
    <div class="input-group">
      <input id="find-reader_input" type="text" class="form-control"
        placeholder="ФИО читателя или номер его читательского билета...">
      <button class="btn btn-outline-secondary" type="button"
        id="button-addon2">Найти</button>
    </div>
  </div>
  <div id="find_reader_result"></div>
  <div class="new_reader_card">... или <a href="#"> создайте карточку нового
      читателя</a>
  </div>
</div>