.title {
    /*background-color: yellow;*/
    text-align: center;
}

.find-reader {
    display: flex;
    width: 60%;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 20px;
}

/*
выделение совпадения при поиске читателя
*/
.find-reader__highlighted-text {
    background-color: yellow;
}
.find_reader_result {
    display: flex;
    flex-direction: column;
}