<div class="wrapper">
    <h1>Библиотечная система</h1>
    <p>
        Небольшая библиотечная система, позволяющая вести учет выданных книг из библиотечного фонда.
    </p>
    <div class="w-75 d-flex">
    <div class="card w-100">
        <h5 class="card-header">Книговыдача</h5>
        <div class="card-body text-center">
          <p class="card-text">Выдача книг читателям.</p>
          <a routerLink="lending" class="btn btn-primary">Перейти</a>
        </div>
      </div>
      <div class="card w-100">
        <h5 class="card-header">Комплектование</h5>
        <div class="card-body text-center">
          <p class="card-text">Действия с фондом.</p>
          <a routerLink="acqusition" class="btn btn-primary">Перейти</a>
        </div>
      </div>
      <div class="card w-100">
        <h5 class="card-header">Отчеты</h5>
        <div class="card-body text-center">
          <p class="card-text">Статистические отчеты.</p>
          <a routerLink="reports" class="btn btn-primary">Перейти</a>
        </div>
      </div>
    </div>
</div>